@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
global styles
**/
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background: #0D901D;;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-page{
  text-align: center;
}

button {
  font-size: 1rem;
  height: 40px;
}

ul {
  margin: 0;
  padding:0;
}

.country-name-list-item {
  list-style: none;
  cursor: pointer;
  margin: 24px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.home-section {
  height: 92vh;
  overflow: hidden;
  background: #ffffff;
}

.home-section div {
  padding:0;
  margin: 1.5rem;
  position: relative;
}


.hero-video {
  position: absolute;
  width: 100%;
  top:0;
  z-index: 0;
}

.home-section div .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.home-section h1 {
  font-family: 'Livvic', sans-serif;
  color: #ffffff;
  font-size: 4rem;
  width: 60%;
  text-align: center;
  line-height: 1;
  margin-top:20vmin;
  text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.173);
}

.home-section input {
  border: none;
  border-radius: .5rem;
  font-family: 'Inter', sans-serif;
  width: 550px;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}

input:focus {
  outline-width: 0;
}

.about-section {
  height: 100vh;
  background: #ffffff;
}

.no-suggestions {
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
}

.suggestions {
  font-family: 'Inter', sans-serif;
  border: 1px solid rgb(233, 233, 233);
  border-top-width: 0;
  list-style: none;
  max-height: 220px;
  overflow-y: auto;
  padding-left: 0;
  width: 550px;
  margin: 0 auto;
  margin-top: .25rem;
  text-align: left;
  color: #33363F;
  background: #ffffff;
  border-radius: .5rem;
}

.suggestions li {
  padding: 1rem;
  font-size: 1.2rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #F3F6F9;
  cursor: pointer;
  color: #00A013;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.dashboard-container {
  display: flex;
}

.dashboard-sidebar {
  max-width: 400px;
  height: 100vh;
  background: rgb(255, 255, 255);
  flex-grow: 1;
  overflow-y: scroll;
}

.dashboard-sidepanel-header {
        padding: 0.5rem 1rem;
      }
      .dashboard-sidepanel-logo {
        padding: 1rem 0 2rem 0;
      }
      .dashboard-sidepanel-country-select-button {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 0.5rem 1rem;
        border: 1px solid #F3F6F9;
      }
      .dashboard-sidepanel-country-select-button:hover {
        background: #F3F6F9;
      }
      .dashboard-sidepanel-country-select-button .form-label {
        font-size: 1rem;
      }
      .dashboard-sidepanel-country-select-button .form-title {
        font-size: 1.1rem;
        font-weight: 600;
      }

      .dashboard-sidepanel-tab-group {
        display: flex;
        width: 100%;
        margin-top: .75rem;
      }
      .dashboard-sidepanel-tab-group li {
        flex-grow: 1;
        text-align: center;
        padding: 1rem 0;
        cursor: pointer;
        font-weight: 500;
      }

      .dashboard-sidepanel-country-list {
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0;
      }
      .dashboard-sidepanel-country-list-item {
        padding: 0.75rem 1rem;
        margin-top: 0.5rem;
        cursor: pointer;
      }
      .dashboard-sidepanel-country-list-item:hover{
        background: #F3F6F9;
      }
      .dashboard-sidepanel-country-list-item:hover h3{
        color: #00A013;
      }
      .dashboard-sidepanel-country-list-item h3 {
        color: #33363F;
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;
      }
      .dashboard-sidepanel-country-list-item p {
        margin-top: .1rem;
        font-family: 'Inter', sans-serif;
        opacity: .7;
        color: #33363F;
        font-size: .9rem;
      }
      .dashboard-loading {
        position: absolute;
        top:0;
        width: 100%;
        min-height: 100vh;
        background: #ffffff
      }

      .dashboard-loading > div{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 800px;
        align-items: center;
        margin-top: 45vmin
      }
        .loading-text >div {
          color: #999999;
          padding: .25rem;
          font-size: 1.25rem;
        }


/**Country details**/
 .country-details {
        font-family: 'Inter', sans-serif;
        color: #33363F;
        flex-grow: 3;
        position: relative;
        background: #EEE9E2;
      }
      .country-details-drawer {
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(248, 249, 250);
        padding: 1.25rem;
        width: 400px;
        min-height: 100vh;
        -moz-box-shadow:    inset 0 0 5px #F3F6F9;
        -webkit-box-shadow: inset 0 0 5px #F3F6F9;
        box-shadow:         inset 0 0 5px #F3F6F9;
        z-index: 5;
      }
      .country-details-drawer-info {
        display: flex;
        flex-direction: row;
        align-items:top;
        width: 100%;
        margin-top: 0.5rem;
      }
      .country-details-drawer-info h1{
        line-height: 1.1;
        font-size: 2rem;
      }
      .country-details-drawer-info >img {
        margin-top: .25rem;
      }
      .country-details-drawer-info-item {
        margin: 0.25rem;
        flex-grow: 1;
        padding: 0.75rem;
        background: #ffffff;
        display: flex;
        align-items: center;
      }
      .country-details-drawer-info-item div:nth-child(1) {
        margin-right: 12px;
      }
      .country-details-drawer-info-item p {
        opacity: .8;
        font-size: 0.9rem;
      }
      .country-details-drawer-info-item h5 {
        font-size: 1rem;
      }
      .country-details-drawer-subsection {
        padding: 1.5rem 0;
      }
      .country-details-drawer-subsection h5 {
        color: #808080;
        font-weight: 500;
        letter-spacing: 2px;
        padding-bottom: .5rem;
        font-size: .8rem;
      }
      .country-details-drawer-subsection p {
        line-height: 150%;
        letter-spacing: -.2px;
        font-size: 1rem;
      }
      .country-details-drawer-subsection li {
        list-style: none;
        line-height: 180%;
        font-size: 1rem;
      }
      .details-close {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background: #ffffff;
        right: calc(-2.5rem);
        top: 0;
        display: flex;
        align-items: center;
      }
      .details-close img {
        margin: 0 auto;
      }

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-loading {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/** Passport power rank **/

.home-passport-section {
  background:#ffffff;
  padding: 5rem 0;
  min-height: 100vh;
  text-align: center;
}
  .home-passport-section > .container > div {
    width: 60%;
    margin: 0 auto;
  }
  .home-section-title-black {
    font-family: 'Livvic', sans-serif;
    font-size: 4rem;
    color: #2E292A;
    text-align: center;
  }
  .home-section-titledescription-black {
    font-family: 'Inter', sans-serif;
    color: #848484;
    font-size: 1.5rem;
  }
  .home-passport-section-countrylist {
    margin: 0 auto;
    max-width: 720px;
    width: 60%;
    padding: 2rem 0 1rem 0;
  }
  .home-passport-section-countrylist-item {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
  }
  .home-passport-section-countrylist-item > div {
    display: flex;
    align-items: center;
  }
  .home-passport-section-countrylist-item > div img {
    margin-right: 1rem;
  }
  .home-passport-section-country-name {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  .home-passport-section-countrylist-progresscount {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;
  }
   .home-passport-section-countrylist-progresscount.green {
    color: #04B25F;
   }
   .home-passport-section-countrylist-progresscount.red {
     color: #E05050;
   }

   .visa-openness-section {
    padding: 3rem 0 5rem 0;
    background: #ffffff;

   }

   .visa-openness-section .container {
    display: flex;
   }

   .visa-openness-section h3 {
      font-family: 'Livvic', sans-serif;
      font-size: 2.7rem;
      width: 80%;
      color: #2E292A;
      line-height: 1.2;
   }

   .visa-openness-country {
     padding: 2rem 0;
   }

   .visa-openness-score-group {
     margin-top: 1rem;
   }
   .visa-openness-country-stats {
     margin-top: 1rem;
   }

   .visa-openness-country-stats ul li {
     padding: 1rem 0;
     border-bottom: 1px solid #f1f1f1;
     font-size: 1.2rem;
     font-weight: 600;
   }

   .visa-openness-country h5 {
     font-size: 1.5rem;
     font-weight: 500;
     color: #848484;
   }

   .visa-openness-score-large {
      font-family: 'Livvic', sans-serif;
     font-size:7rem;
   }

   .visa-openness-score-outof {
     font-size: 3rem;
     color: #9C9C9C;
     margin-left: 1rem;
   }

   .visa-openness-countryselect-button {
     width: 75%;
     background: #F1F1F1;
     font-size: 1.5rem;
     padding: 1rem;
   }

   .visa-openness-countryselect-button:hover {
    background: #eaeaea;
    cursor: pointer;
   }

   .visa-openness-section .container > div {
     width: 50%;
   }

  .static-footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    background: #ffffff;
  }

   .static-message-footer{
      margin-top: 2rem;
      background: #0D901D;
      min-height: 300px;
   }

   @media only screen and (min-width:1400px) {
     .container {
       width: 1370px;
     }
   } 

   .loading-container{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 35vmin
   }


