@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
global styles
**/
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #0a0a0a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-page{
  text-align: center;
}

input {
  width: 500px;
  font-size: 1rem;
  padding: 12px;
}

input:focus {
  outline-width: 0;
}

button {
  font-size: 1rem;
  height: 40px;
}

ul {
  margin: 0;
  padding:0;
}

.country-name-list-item {
  list-style: none;
  cursor: pointer;
  margin: 24px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.home-page {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.home-page h1 {
  margin-top: 20vmin;
  font-size: 3rem;
}

body {
  font-family: sans-serif;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #ccc;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.dashboard-container {
  display: flex;
}

.dashboard-sidebar {
  max-width: 400px;
  min-height: 100vh;
  background: rgb(237, 237, 237);
  flex-grow: 1;
}

.dashboard-sidepanel-header {
        background: CD5C2C;
        padding: 0.5rem 1rem;
      }
      .dashboard-sidepanel-logo {
        font-size: 1.2rem;
        padding: 1rem 0;
      }
      .dashboard-sidepanel-country-select-button {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 0.5rem 1rem;
      }
      .dashboard-sidepanel-country-select-button:hover {
        background: rgb(247, 242, 226);
      }
      .dashboard-sidepanel-country-select-button .form-label {
        font-size: 0.8rem;
      }
      .dashboard-sidepanel-country-select-button .form-title {
        font-size: 1rem;
        font-weight: 600;
      }
      .dashboard-sidepanel-country-list {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 0;
      }
      .dashboard-sidepanel-country-list-item {
        background: #ededed;
        padding: 0.75rem 1rem;
        margin-top: 0.5rem;
        cursor: pointer;
      }
      .dashboard-sidepanel-country-list-item h3 {
        font-size: 1rem;
      }
      .dashboard-sidepanel-country-list-item p {
        font-size: 0.8rem;
      }

/**Country details**/
 .country-details {
        flex-grow: 3;
        position: relative;
      }
      .country-details-drawer {
        position: absolute;
        left: 0;
        top: 0;
        background: #e4e4e4;
        padding: 2rem 1rem 1rem 1rem;
        width: 400px;
        min-height: 100vh;
      }
      .country-details-drawer-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0.5rem;
      }
      .country-details-drawer-info-item {
        margin: 0.25rem;
        flex-grow: 1;
        padding: 0.75rem;
        background: #ffffff;
      }
      .country-details-drawer-info-item p {
        font-size: 0.9rem;
      }
      .country-details-drawer-info-item h5 {
        font-size: 1rem;
      }