@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**
global styles
**/
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #0a0a0a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-page{
  text-align: center;
}

input {
  font-family: 'Inter', sans-serif;
  width: 500px;
  font-size: 1.3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  border: 1px solid #dadada;
}

input:focus {
  outline-width: 0;
}

button {
  font-size: 1rem;
  height: 40px;
}

ul {
  margin: 0;
  padding:0;
}

.country-name-list-item {
  list-style: none;
  cursor: pointer;
  margin: 24px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.home-page {
  padding: 10vmin 0 0 0;
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.home-page h1 {
  font-family: 'Inter', sans-serif;
  color: #33363F;
  font-size: 2.8rem;
}

body {
  font-family: sans-serif;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  font-family: 'Inter', sans-serif;
  border: 1px solid rgb(233, 233, 233);
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  color: #33363F;
}

.suggestions li {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #F3F6F9;
  cursor: pointer;
  color: #D93E69;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.dashboard-container {
  display: flex;
}

.dashboard-sidebar {
  max-width: 400px;
  height: 100vh;
  background: rgb(255, 255, 255);
  flex-grow: 1;
  overflow-y: scroll;
}

.dashboard-sidepanel-header {
        padding: 0.5rem 1rem;
      }
      .dashboard-sidepanel-logo {
        padding: 1rem 0 2rem 0;
      }
      .dashboard-sidepanel-country-select-button {
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 0.5rem 1rem;
        border: 1px solid #F3F6F9;
      }
      .dashboard-sidepanel-country-select-button:hover {
        background: #F3F6F9;
      }
      .dashboard-sidepanel-country-select-button .form-label {
        font-size: 1rem;
      }
      .dashboard-sidepanel-country-select-button .form-title {
        font-size: 1.1rem;
        font-weight: 600;
      }
      .dashboard-sidepanel-country-list {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 0;
      }
      .dashboard-sidepanel-country-list-item {
        padding: 0.75rem 1rem;
        margin-top: 0.5rem;
        cursor: pointer;
      }
      .dashboard-sidepanel-country-list-item:hover{
        background: #F3F6F9;
      }
      .dashboard-sidepanel-country-list-item:hover h3{
        color: #D93E69;
      }
      .dashboard-sidepanel-country-list-item h3 {
        color: #33363F;
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;
      }
      .dashboard-sidepanel-country-list-item p {
        margin-top: .1rem;
        font-family: 'Inter', sans-serif;
        opacity: .7;
        color: #33363F;
        font-size: .9rem;
      }


      .map {
        height: 100vh;
        z-index: 2;
      }
/**Country details**/
 .country-details {
        font-family: 'Inter', sans-serif;
        color: #33363F;
        flex-grow: 3;
        position: relative;
      }
      .country-details-drawer {
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(248, 249, 250);
        padding: 1.25rem;
        width: 400px;
        min-height: 100vh;
        -moz-box-shadow:    inset 0 0 5px #F3F6F9;
        -webkit-box-shadow: inset 0 0 5px #F3F6F9;
        box-shadow:         inset 0 0 5px #F3F6F9;
        z-index: 5;
      }
      .country-details-drawer-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0.5rem;
      }
      .country-details-drawer-info-item {
        margin: 0.25rem;
        flex-grow: 1;
        padding: 0.75rem;
        background: #ffffff;
        display: flex;
        align-items: center;
      }
      .country-details-drawer-info-item div:nth-child(1) {
        margin-right: 12px;
      }
      .country-details-drawer-info-item p {
        opacity: .8;
        font-size: 0.9rem;
      }
      .country-details-drawer-info-item h5 {
        font-size: 1rem;
      }
      .country-details-drawer-subsection {
        padding: 1.5rem 0;
      }
      .country-details-drawer-subsection h5 {
        color: #808080;
        font-weight: 500;
        letter-spacing: 2px;
        padding-bottom: .5rem;
        font-size: .8rem;
      }
      .country-details-drawer-subsection p {
        line-height: 150%;
        letter-spacing: -.2px;
        font-size: 1rem;
      }
      .country-details-drawer-subsection li {
        list-style: none;
        line-height: 180%;
        font-size: 1rem;
      }
      .details-close {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background: #ffffff;
        right: calc(-2.5rem);
        top: 0;
        display: flex;
        align-items: center;
      }
      .details-close img {
        margin: 0 auto;
      }